.NavLink {
  color: #000 !important;
  text-decoration: none;
  margin-left: 10px;
}

a {
  text-decoration: none;
}

.NavLink:hover {
  color: wheat !important;
  text-decoration: none;
}
/*  */
.logo {
  height: 60px;
  width: 100px;
}
/* Active */
ul.nav li a.active {
  text-shadow: 1px 1px grey;
  color: wheat;
  background: green;
}
.navbar {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

ul.nav li a {
  padding: 5px 10px;
  background: #fff;
  border-radius: 5px;
  /* margin-right: 5px; */
}
