.NavLink {
  color: #fff !important;
  text-decoration: none;
  margin-left: 10px;
}

a {
  text-decoration: none;
}

.NavLink:hover {
  color: wheat !important;
  text-decoration: none;
}
/*  */
.logo {
  height: 60px;
  width: 100px;
}
/* Active */
.active {
  text-shadow: 1px 1px grey;
  color: wheat;
}.navbar {
    padding-top: 0rem;
    padding-bottom: 0rem;
}